@font-face {
  font-family: "Social";
  src: url(social.otf);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  width: 100%;
  height: auto;
  font-family: 'Roboto', sans-serif;
  color: black;
  background-color: or;
  scroll-behavior: smooth;
  cursor: url("cursor.png"), auto;
}

.social {
  font-family: 'Social';
  font-size: 25px;
}

body h1,
body h2,
body p,
body a {
  margin: 0;
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  body h1,
  body h2,
  body p,
  body a {
    font-size: 15px;
  }
}

body a:hover {
  cursor: pointer;
}

body img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

::-moz-selection {
  color: white;
  background: orange;
}

::selection {
  color: white;
  background: orange;
}

::-webkit-scrollbar {
  display: none;
}

main {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main header {
  width: 100%;
  max-height: 60px;
  top: 0;
  z-index: 100;
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: solid 2px black;
}

main header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%;
}

main header nav p {
  margin-left: 15px;
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  main header nav p {
    font-size: 15px;
  }
}

main header nav p a {
  color: black;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

main header nav p a img {
  height: 18px;
  width: auto;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  main header nav p a img {
    font-size: 15px;
  }
}

main header nav p a:hover {
  color: white;
}

main section {
  width: 100%;
  min-height: calc(100vh - 60px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  scrollbar-width: none;
  z-index: 3;
}

@media screen and (max-width: 600px) {
  main section {
    min-height: calc((var(--vh, 1vh) * 100) - 60px);
  }
}

main section #proj_scroll {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 3;
}

main section #item_list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section #item_list .item:first-child {
  margin-top: 0;
}

main section #item_list .item {
  color: black;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-color: black;
  border-bottom: solid 2px;
  margin-top: 15px;
}

main section #item_list .item p:first-child {
  text-align: left;
}

@media screen and (max-width: 600px) {
  main section #item_list .item p:first-child {
    display: block;
    width: 65%;
  }
}

main section #item_list .item p:nth-child(4) {
  text-align: right;
}

@media screen and (max-width: 600px) {
  main section #item_list .item p:nth-child(4) {
    display: block;
    width: 30%;
  }
}

main section #item_list .item p {
  margin-bottom: 5px;
  width: 25%;
  text-align: center;
  pointer-events: none;
}

@media screen and (max-width: 600px) {
  main section #item_list .item p {
    display: none;
  }
}

main section #item_list .item .new {
  color: red;
  font-weight: bold;
  font-size: 10px;
}

@media screen and (max-width: 600px) {
  main section #item_list .item .new {
    font-size: 8px;
  }
}

main section #item_list .item .tags {
  display: none;
}

main section #item_list .item .thumbnail {
  display: none;
  max-height: 300px;
  height: auto;
  max-width: 300px;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}

main section #item_list .item:hover {
  cursor: pointer;
  color: white;
  border-color: white;
}

main section #item_list .item:hover .thumbnail {
  display: block;
  -webkit-animation: smoothload 0.3s ease;
          animation: smoothload 0.3s ease;
}

main section #about {
  width: 100%;
  max-width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section #about hr {
  margin: 0;
  width: 100%;
  border: 1px solid black;
  color: black;
  margin: 15px 0 0 0;
  background-color: black;
}

main section #about .about_text {
  font-size: 28px;
}

@media screen and (max-width: 600px) {
  main section #about .about_text {
    font-size: 20px;
  }
}

main section #about #members {
  margin-top: 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main section #about #members h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

@media screen and (max-width: 600px) {
  main section #about #members h2 {
    font-size: 20px;
  }
}

main section #about #members .member_divider {
  margin: 0 0 15px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main section #about #members .member {
  margin: 0;
  width: 100%;
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  main section #about #members .member {
    font-size: 15px;
  }
}

main section #about #members .member h3 {
  margin: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: normal;
}

@media screen and (max-width: 600px) {
  main section #about #members .member h3 {
    font-size: 20px;
  }
}

main section #about #members .member p {
  font-size: 18px;
  margin-bottom: 15px;
}

@media screen and (max-width: 600px) {
  main section #about #members .member p {
    font-size: 15px;
  }
}

main section #about #members .member p a {
  color: black;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media screen and (max-width: 600px) {
  main section #about #members .member p a {
    font-size: 13px;
  }
}

main section #about #members .member p a:hover {
  color: white;
  text-decoration: none;
}

main section #about #members .member ul {
  margin: 15px 0;
  list-style: none;
  padding: 0;
  font-weight: bold;
}

main section #about #members .member ul li {
  font-weight: normal;
  padding-left: 0px;
}

main section .proj {
  width: 100%;
  max-width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main section .proj #close {
  margin: 0;
  margin-bottom: 15px;
  font-size: 28px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (max-width: 600px) {
  main section .proj #close {
    font-size: 20px;
  }
}

main section .proj #close a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

main section .proj #close a:hover {
  color: white;
}

main section .proj h2 {
  font-size: 28px;
  margin: 0;
}

@media screen and (max-width: 600px) {
  main section .proj h2 {
    font-size: 20px;
  }
}

main section .proj h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  main section .proj h3 {
    font-size: 15px;
  }
}

main section .proj p {
  margin: 0;
  margin-top: 15px;
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  main section .proj p {
    font-size: 15px;
  }
}

main section .proj p a {
  text-decoration: underline;
  font-size: inherit;
  color: inherit;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

main section .proj p a:hover {
  color: white;
}

main section .proj div,
main section .proj iframe {
  margin: 0;
  margin-top: 15px;
  width: 100% !important;
}

main section .proj iframe {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  main section .proj iframe {
    height: 56vw !important;
  }
}

main section .proj .author_date,
main section .proj ul {
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  main section .proj .author_date,
  main section .proj ul {
    font-size: 13px;
  }
}

main section .proj ul {
  margin: 0;
  margin-top: 15px;
  list-style: none;
  padding: 0;
}

main section .proj ul li {
  margin: 0px;
  padding-left: 0px;
}

main section .proj .notes {
  font-size: 14px;
}

main section .proj .notes li {
  margin-top: 14px;
}

main section .proj .single_image {
  margin: 0;
  margin-top: 15px;
  width: 100%;
}

main section .proj #controls_div {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

main section .proj #controls_div a {
  font-size: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 15px;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
}

main section .proj #controls_div a:hover {
  opacity: 1;
}

main section .proj .prev,
main section .proj .next {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main section .proj .next {
  opacity: 0.2;
}

main section .proj .prev {
  opacity: 0.2;
}

main section footer {
  height: auto;
  margin-top: 15px;
}

main section footer .tiny_info {
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  main section footer .tiny_info {
    font-size: 13px;
  }
}

main section footer p {
  margin-top: 5px;
}

main section footer p a {
  color: black;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media screen and (max-width: 600px) {
  main section footer p a {
    font-size: 13px;
  }
}

main section footer p a:hover {
  color: white;
  text-decoration: none;
}

@-webkit-keyframes smoothload {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes smoothload {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#logo,
#logo_mobile {
  width: 100%;
  height: auto;
  position: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  padding-bottom: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  bottom: 0;
  z-index: 2;
  mix-blend-mode: exclusion;
}

#logo_mobile {
  width: 100%;
  max-height: calc((var(--vh, 1vh) * 100) - 60px);
  padding: 15px 0 0 0;
}

.desktop {
  display: block;
}

@media screen and (max-width: 600px) {
  .desktop {
    display: none;
  }
}

.mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  .mobile {
    display: block;
  }
}

#fail_to_find {
  -webkit-animation: smoothload 0.3s ease;
          animation: smoothload 0.3s ease;
}

#m_icon {
  height: calc(60px - (15px * 2));
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (max-width: 600px) {
  #m_icon {
    height: 18px;
  }
}

@media screen and (max-width: 600px) and (max-width: 600px) {
  #m_icon {
    font-size: 15px;
  }
}

#m_icon_home {
  height: calc(60px - (15px * 2));
  width: auto;
  display: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (max-width: 600px) {
  #m_icon_home {
    height: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 600px) and (max-width: 600px) {
  #m_icon_home {
    font-size: 15px;
  }
}

.search {
  display: table;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (max-width: 600px) {
  .search {
    display: none;
  }
}

.search input {
  background: none;
  border: none;
  outline: none;
  width: 28px;
  min-width: 0;
  padding: 0;
  z-index: 1;
  position: relative;
  line-height: 18px;
  margin: 5px 0;
  font-size: 15px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  cursor: pointer;
  color: black;
}

.search input + div {
  position: relative;
  height: 28px;
  width: 100%;
  margin: -28px 0 0 0;
}

.search input + div svg {
  display: block;
  position: absolute;
  height: 28px;
  width: 160px;
  right: 0;
  top: 0;
  fill: none;
  stroke: black;
  stroke-width: 1.7;
  stroke-dashoffset: 271.908;
  stroke-dasharray: 59 212.908;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.search input:not(:placeholder-shown), .search input:focus {
  width: 160px;
  padding: 0 4px;
  cursor: text;
}

.search input:not(:placeholder-shown) + div svg, .search input:focus + div svg {
  stroke-dasharray: 150 212.908;
  stroke-dashoffset: 300;
}

.mySlides {
  display: none;
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 !important;
}

.mySlides .numbertext {
  color: white;
  mix-blend-mode: exclusion;
  font-size: 14px;
  position: absolute;
  top: 5px;
  left: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .mySlides .numbertext {
    font-size: 13px;
  }
}

.mySlides img {
  margin-top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: rgba(0, 0, 0, 0.575);
}

.slideshow-container {
  width: 100%;
  max-height: calc(100vw - (2* 15px));
  height: 50vh;
  margin: 0;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#easter {
  position: fixed;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
/*# sourceMappingURL=index.css.map */