@font-face {
    font-family: "Social";
    src: url(social.otf);
}


body {
    //background-color: orange;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    height: auto;
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: or;
    scroll-behavior: smooth;
    //overflow: hidden;
    cursor: url('cursor.png'), auto;
}


.social {
    font-family: 'Social';
    font-size: 25px;
}


$text_color: rgb(0, 0, 0);
$offset: 15px;
$header_h: 60px;

$big_text:28px;
$text_size: 18px;
$sub_size: 14px;

body {

    h1,
    h2,
    p,
    a {
        margin: 0;
        font-size: $text_size;

        @media screen and (max-width: 600px) {
            font-size: 15px;
        }
    }

    a:hover {
        cursor: pointer;
    }

    img {
        user-select: none;
    }
}

::selection {
    color: white;
    background: orange;
}

::-webkit-scrollbar {
    display: none;
}

main {
    //background-color: #fbb040;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    //mix-blend-mode: exclusion;


    header {
        width: 100%;
        max-height: $header_h;
        //background-color: orange;
        top: 0;
        z-index: 100;
        position: sticky;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: $offset;
        box-sizing: border-box;
        border-bottom: solid 2px black;
        //mix-blend-mode: exclusion;


        nav {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            width: 50%;

            p {
                margin-left: $offset;
                font-size: $text_size;

                @media screen and (max-width: 600px) {
                    font-size: 15px;
                }

                a {
                    color: black;
                    text-decoration: none;
                    transition: 0.2s;
                    cursor: pointer;

                    img {
                        height: $text_size;
                        width: auto;
                        cursor: pointer;

                        @media screen and (max-width: 600px) {
                            font-size: 15px;
                        }
                    }

                }



                a:hover {
                    color: white;
                    //text-decoration: underline;
                }
            }
        }
    }

    section {
        //background-color: red;
        width: 100%;
        //height: 70vh;
        min-height: calc(100vh - 60px);
        box-sizing: border-box;
        padding: $offset;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        //overflow: scroll;
        scrollbar-width: none;
        z-index: 3;

        @media screen and (max-width: 600px) {
            min-height: calc((var(--vh, 1vh) * 100) - 60px);
        }


        #proj_scroll {
            //background-color: red;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            z-index: 3;
        }


        #item_list {
            //background-color: aqua;
            width: 100%;
            //box-sizing: border-box;
            //padding: $offset;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            //margin-bottom: $offset;

            .item:first-child {
                margin-top: 0;
            }

            .item {
                color: black;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                //background-color: orchid;
                border-color: black;
                border-bottom: solid 2px;
                margin-top: $offset;
                //z-index: 2;


                p:first-child {
                    text-align: left;

                    @media screen and (max-width: 600px) {
                        display: block;
                        width: 65%;
                    }
                }

                p:nth-child(4) {
                    text-align: right;

                    @media screen and (max-width: 600px) {
                        display: block;
                        width: 30%;
                    }
                }

                p {
                    margin-bottom: 5px;
                    width: 25%;
                    //background-color: red;
                    text-align: center;
                    pointer-events: none;

                    @media screen and (max-width: 600px) {
                        display: none;
                    }
                }

                .new {
                    color: red;
                    font-weight: bold;
                    font-size: 10px;

                    @media screen and (max-width: 600px) {
                        font-size: 8px;
                    }
                }

                .tags {
                    display: none;
                }

                .thumbnail {
                    display: none;
                    max-height: 300px;
                    height: auto;
                    max-width: 300px;
                    width: auto;
                    object-fit: contain;
                    position: absolute;
                    pointer-events: none;
                    user-select: none;
                    //background-color: aqua;
                    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));


                }
            }

            .item:hover {
                //mix-blend-mode: exclusion;
                cursor: pointer;
                color: white;
                border-color: white;


                .thumbnail {
                    //mix-blend-mode: normal !important;
                    display: block;
                    animation: smoothload 0.3s ease;
                }

            }
        }

        #about {
            //background-color: aqua;
            width: 100%;
            max-width: 650px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            hr {
                margin: 0;
                width: 100%;
                border: 1px solid black;
                color: black;
                margin: $offset 0 0 0;
                background-color: black;
            }

            .about_text {
                //margin: 0;
                font-size: $big_text;
                //margin-bottom: $offset;

                @media screen and (max-width: 600px) {
                    font-size: 20px;
                }
            }

            #members {
                margin-top: $offset;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                //background-color: orange;

                h2 {
                    font-size: $big_text;
                    //font-weight: normal;
                    margin-bottom: $offset;

                    @media screen and (max-width: 600px) {
                        font-size: 20px;
                    }
                }

                .member_divider {
                    margin: 0 0 $offset 0;
                    user-select: none;
                }

                .member {
                    margin: 0;
                    //background-color: aqua;
                    width: 100%;
                    font-size: $text_size;

                    @media screen and (max-width: 600px) {
                        font-size: 15px;
                    }

                    h3 {
                        margin: 0;
                        margin-bottom: $offset;
                        text-transform: uppercase;
                        font-size: $big_text;
                        font-weight: normal;

                        @media screen and (max-width: 600px) {
                            font-size: 20px;
                        }
                    }

                    p {
                        font-size: $text_size;
                        margin-bottom: $offset;

                        @media screen and (max-width: 600px) {
                            font-size: 15px;
                        }

                        a {
                            color: black;
                            text-decoration: none;
                            font-size: $sub_size;
                            transition: 0.2s;

                            @media screen and (max-width: 600px) {
                                font-size: 13px;
                            }
                        }

                        a:hover {
                            color: white;
                            text-decoration: none;
                        }
                    }

                    ul {
                        margin: $offset 0;
                        list-style: none;
                        padding: 0;
                        font-weight: bold;

                        li {
                            font-weight: normal;
                            padding-left: 0px;
                        }
                    }
                }
            }

        }
















        .proj {
            //background-color: red;
            width: 100%;
            max-width: 650px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            #close {
                margin: 0;
                margin-bottom: $offset;
                font-size: $big_text;
                user-select: none;

                @media screen and (max-width: 600px) {
                    font-size: 20px;
                }

                a {
                    text-decoration: none;
                    color: inherit;
                    font-size: inherit;
                    transition: 0.1s;
                }

                a:hover {
                    color: white;
                }
            }

            h2 {
                font-size: $big_text;
                margin: 0;

                @media screen and (max-width: 600px) {
                    font-size: 20px;
                }
            }

            h3 {
                margin: 0;
                font-size: $text_size;
                font-weight: bold;

                @media screen and (max-width: 600px) {
                    font-size: 15px;
                }
            }

            p {
                margin: 0;
                margin-top: $offset;
                font-size: $text_size;

                @media screen and (max-width: 600px) {
                    font-size: 15px;
                }

                a {
                    text-decoration: underline;
                    font-size: inherit;
                    color: inherit;
                    transition: 0.1s;
                }

                a:hover {
                    color: white;
                }
            }

            div,
            iframe {
                margin: 0;
                margin-top: $offset;
                width: 100% !important;
            }

            iframe {
                margin: 0;
                //height: 56vw !important;

                @media only screen and (max-width: 600px) {
                    height: 56vw !important;
                }
            }

            .author_date,
            ul {
                font-size: $sub_size;

                @media screen and (max-width: 600px) {
                    font-size: 13px;
                }
            }

            ul {
                margin: 0;
                margin-top: $offset;
                list-style: none;
                padding: 0;

                li {
                    margin: 0px;
                    padding-left: 0px;
                }
            }

            .notes {
                font-size: $sub_size;

                li {
                    margin-top: $sub_size;
                }
            }

            .single_image {
                margin: 0;
                margin-top: $offset;
                width: 100%;
            }

            #controls_div {
                width: 100%;
                height: 100%;
                //background-color: red;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                position: absolute;
                top: 0;
                left: 0;
                margin: 0;

                a {
                    //background-color: yellow;
                    font-size: 50px;
                    transition: 0.5s;
                    height: 100%;
                    //border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    margin: 0 $offset;
                    color: white;
                    user-select: none;
                    -webkit-tap-highlight-color: transparent;
                }

                a:hover {
                    opacity: 1;
                }
            }

            .prev,
            .next {
                user-select: none;
            }

            .next {
                opacity: 0.2;
                //background: rgb(0, 0, 0);
                //background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
            }

            .prev {
                opacity: 0.2;
                //background: rgb(0, 0, 0);
                //background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
            }
        }

















        footer {
            //background-color: rgb(255, 0, 0);
            //width: 100%;
            height: auto;
            //z-index: 2;
            //filter: blur(2px);
            margin-top: $offset;

            .tiny_info {
                font-size: $sub_size;

                @media screen and (max-width: 600px) {
                    font-size: 13px;
                }
            }

            p {
                margin-top: 5px;

                a {
                    color: black;
                    text-decoration: none;
                    font-size: $sub_size;
                    transition: 0.2s;

                    @media screen and (max-width: 600px) {
                        font-size: 13px;
                    }
                }

                a:hover {
                    color: white;
                    text-decoration: none;
                }
            }

        }
    }
}

@keyframes smoothload {
    0% {

        opacity: 0;
        ;
    }

    100% {
        opacity: 1;
    }
}

#logo,
#logo_mobile {
    width: 100%;
    height: auto;
    position: fixed;
    box-sizing: border-box;
    padding: $offset;
    padding-bottom: 0;
    pointer-events: none;
    user-select: none;
    //background-color: red;
    bottom: 0;
    z-index: 2;
    mix-blend-mode: exclusion;
}

#logo_mobile {
    width: 100%;
    max-height: calc((var(--vh, 1vh) * 100) - #{$header_h});
    //object-fit: contain;
    padding: $offset 0 0 0;
}


.desktop {
    display: block;

    @media screen and (max-width: 600px) {
        display: none;
    }
}

.mobile {
    display: none;

    @media screen and (max-width: 600px) {
        display: block;
    }
}

#fail_to_find {
    animation: smoothload 0.3s ease;
}

#m_icon {
    //height: auto;
    height: calc(#{$header_h} - (#{$offset} * 2));
    width: auto;
    //background-color: ivory;
    display: flex;
    user-select: none;

    @media screen and (max-width: 600px) {
        height: $text_size;

        @media screen and (max-width: 600px) {
            font-size: 15px;
        }
    }
}

#m_icon_home {
    //height: auto;
    height: calc(#{$header_h} - (#{$offset} * 2));
    width: auto;
    //background-color: ivory;
    display: none;
    user-select: none;

    @media screen and (max-width: 600px) {
        height: $text_size;
        display: flex;

        @media screen and (max-width: 600px) {
            font-size: 15px;
        }
    }
}

//----------------


.search {
    display: table;
    user-select: none;


    @media screen and (max-width: 600px) {
        display: none;
    }

    input {
        background: none;
        border: none;
        outline: none;
        width: 28px;
        min-width: 0;
        padding: 0;
        z-index: 1;
        position: relative;
        line-height: 18px;
        margin: 5px 0;
        font-size: $offset;
        transition: all .2s ease;
        cursor: pointer;
        color: $text_color;

        &+div {
            position: relative;
            height: 28px;
            width: 100%;
            margin: -28px 0 0 0;

            svg {
                display: block;
                position: absolute;
                height: 28px;
                width: 160px;
                right: 0;
                top: 0;
                fill: none;
                stroke: $text_color;
                stroke-width: 1.7;
                stroke-dashoffset: 212.908 + 59;
                stroke-dasharray: 59 212.908;
                transition: all .2s ease;
            }
        }

        &:not(:placeholder-shown),
        &:focus {
            width: 160px;
            padding: 0 4px;
            cursor: text;

            &+div {
                svg {
                    stroke-dasharray: 150 212.908;
                    stroke-dashoffset: 300;
                }
            }
        }
    }
}

//-------------
















.mySlides {
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 !important;

    .numbertext {
        color: rgb(255, 255, 255);
        mix-blend-mode: exclusion;
        font-size: $sub_size;
        position: absolute;
        top: 5px;
        left: 5px;
        user-select: none;
        margin: 0;
        //z-index: 2;

        @media screen and (max-width: 600px) {
            font-size: 13px;
        }
    }

    img {
        margin-top: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        background-color: rgba(0, 0, 0, 0.575);
    }
}

.slideshow-container {
    width: 100%;
    max-height: calc(100vw - (2* #{$offset}));
    height: 50vh;
    margin: 0;
    margin-top: 100px;
    //background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
















#easter {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}